@mixin post-copyright {
  .post-copyright {
    margin: map-get($post-copyright, margin);
    padding: map-get($post-copyright, padding);
    border-left: map-get(map-get($post-copyright, border), width) map-get(map-get($post-copyright, border), style) map-get(map-get($post-copyright, border), color);
    background-color: map-get($post-copyright, bg);
    list-style: none;
  }
}

.copyleft {
  font-family: "Baskerville Italic", "Times New Roman", sans-serif;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.6;
  font-style: italic;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

